body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url(../images/site/gradient.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

#wrap {
    width: 1000px;
    height: 100%;
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -500px;
}

#header {
    width: 100%;
    background-color: #9400EA;
    height: 70px;
}

#logo {
    width: 150px;
    position: absolute;
    float: left;
    margin-top: -7px;
    margin-left: 20px;
}

#user_search_form {
    right: 10px;
    top: 10px;
    display: block;
    position: absolute;
    padding: 10px 20px;
}

div#profile_wrap {
    width: 200px;
    height: 200px;
    margin: 40px auto;
    border: 1px solid white;
    background-image: url('../images/profile.jpg');
    background-size: cover;
    background-position: center;
}

div#left {
    width: 300px;
    position: absolute;
    top: 70px;
    bottom: 0;
    background-color: #6A00A8;
}

div#right {
    width: 700px;
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 300px;
    background-color: white;
    overflow-y: scroll;
}

div#search_area {
    width: 500px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: grey;
    position: absolute;
    top: 0;
    left: 100px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.search_image {
    width: 100px;
    padding: 10px 0px 10px 20px;
    float: left;
}

.search_wrap {
    display: block;
    width: 500px;
    height: 120px;
}

.search_bio {
    float: left;
    width: 320px;
    height: 100px;
    padding: 0px 10px 20px 20px;
}

h3.search, p.search {
    color: white;
    font-family: 'Roboto', sans-serif;
}

div.post {
    background-color: #9400EA;
    width: 600px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 3px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.post_image {
    width: 75px;
}

span.message {
    background-color: white;
    border-radius: 3px;
    display: block;
    padding: 20px 10px;
    max-width: 500px;
    font-family: 'Roboto', sans-serif;
}

span.datetime {
    display: block;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

input[name=input] {
    width: 500px;
    margin-right: 5px;
    padding: 3px 5px;
    border-radius: 3px;
    border: 1px solid grey;
    border-bottom: 3px solid white;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

input[name=user_search] {
    margin-right: 5px;
    padding: 3px 5px;
    border-radius: 3px;
    border: 1px solid grey;
    border-bottom: 3px solid white;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

input[name=user_search]:focus, input[name=input]:focus {
    border-bottom: 3px solid black;
}

input[type=submit] {
    border-radius: 3px;
    background-color: #6A00A8;
    color: white;
    border: 1px solid white;
    padding: 2px 5px;
    padding-bottom: 4px;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

input[type=submit]:hover {
    background-color: #3D0060;
    border: 1px solid white;
}

input[name=post] {
    width: 75px;
}

.hidden {
    display: none;
}
